body {  background-image: url("https://cdn2.vectorstock.com/i/1000x1000/77/71/bright-glowing-crystal-ball-for-fortune-vector-3707771.jpg;");
 background-repeat: no-repeat;
  background-size: auto; 
   background-size: 1400px 1200px;}
h1 { color: #4B0082;}